:root {
  --tf-font-family: "JetBrains Mono";
  --border-width: 1px;
  --tf-border: var(--arrowpanel-border-color, #1F232F);
  /* --tf-font-size: 13px; */
  /* --tf-rounding: 4px; */
  /* --tf-display-horizontal-tabs: none; */
  /* --tf-display-nav-buttons: none; */
}
